parameters:
	ignoreErrors:
		-
			message: "#^Class App\\\\Models\\\\User uses generic trait Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\HasFactory but does not specify its types\\: TFactory$#"
			count: 1
			path: app/Models/User.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: config/app.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: config/cache.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: config/database.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 1
			path: config/logging.php

		-
			message: "#^Parameter \\#1 \\$url of function parse_url expects string, mixed given\\.$#"
			count: 1
			path: config/mail.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 3
			path: config/queue.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: config/session.php
