includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    ignoreErrors:
        - '#Access to an undefined property App\\Models\\Product::\$pivot.#'

    paths:
        - app
        - config
        - database
        - routes

    # The level 9 is the highest level
    level: 9

    parallel:
        maximumNumberOfProcesses: 4

    noUnnecessaryCollectionCall: false